@{ 
    ViewData["Title"] = "Tech Trader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
@model TechTrader.Models.Seller

@if (User.Identity.IsAuthenticated)
{
    <h4>Please create your Seller profile</h4>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName)
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName)
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)

            <input type="submit" value="Register" />
        }
}