@model TechTrader.Models.Post
@{
    ViewData["Title"] = "Tech Trader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-list">
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)
    <br />
    @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)
    <br />
    @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
    <br />
    @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)
    <br />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    <br />
    @Html.DisplayNameFor(model => model.Brand): @Html.DisplayFor(model => model.Brand)
    <br />
    @Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(model => model.Model)
    <br />
    <p class="btn btn-warning button">@Html.ActionLink("Edit", "Edit", new { id = Model.PostId }, null)</p>
    <p class="btn btn-danger button">@Html.ActionLink("Delete", "Delete", new { id = Model.PostId }, null)</p>
    <p class="btn btn-primary button" id="return">@Html.ActionLink("Back to list", "Index")</p>
</div>