<!DOCTYPE html>

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    @*<script src="~/js/scripts.js"></script>*@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul class="nav nav-tabs">
        @if (User.Identity.IsAuthenticated)
        {
            <li role="presentation">@Html.ActionLink(User.Identity.Name, "Index", "Seller")</li>
            <li class="nav pull-right">
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" id="logout" value="Logout" class="btn logout" />
                }
            </li>
        }
        else
        {
            <li role="presentation">@Html.ActionLink("Register", "Register", "Account")</li>
            <li role="presentation">@Html.ActionLink("Login", "Login", "Account")</li>
        }
    </ul>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
